:root {
  /* --primary-color: rgba(164,214,206, 0.30); */
  --primary-color: rgba(98,191,180,0.55);
  --overlay-color:   rgba(10,102,92,0.95);
  /* --overlay-color:   rgba(255,213,83, 0.85); */
  /* --overlay-color: rgba(24, 39, 51, 0.85); */
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background: #fff;
  height: auto;
}

.container {
  max-width: 960px
  margin:auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background-color: var(--primary-color);
  color: #fff;
  height: 100vh;
  position: relative;
}

.showcase:before {
  content:'';
  background: url('../img/tamales.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase-tacos {
  content:'';
  background: url('../img/showcase1.jpg') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-tacos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: sticky;
  z-index: 2;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: sticky;
  z-index: 2;
}

.showcase .showcase-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #FFD453;
}

.showcase .showcase-ordercol {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  height: 50%;
}

.showcase .showcase-main_connect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  height: 60%;
  position: sticky;
  z-index: 2;
  /* background-color: var(--primary-color); */

}

.showcase .showcase-connect {
  /* background-color: #fff; */
  height: 50%;
  margin: auto;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
  /* background-color: var(--primary-color); */
}

.showcase .showcase-media_icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: var(--primary-color); */
  height: 100%;
}

.showcase .showcase-media_icons_divided {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background-color: var(--primary-color); */
  height: 100%;
}


.showcase h2 {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
  color: #74BFB6;
  /* text-shadow: 2px 2px #FF9B7D; */
}

.showcase h3 {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  color: #fff;
  text-shadow: 2px 2px #0B564C;
}

img {
  display:flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.showcase h1 {
  font-size: 4rem;
  font-family: 'Lobster Two', cursive;
  align-items: center;
  color: #fff;
  /* text-shadow: 2px 2px #FF9B7D; */
}

.showcase {
  font-size: 1.3rem;
}

.btn{
  display: inline-block;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in;
}

.btn:hover {
  opacity: 1.0;
}

.fa-facebook {
  font-size: 2.5em;
  padding: 10rem;
  color: #74BFB6;
}

.fa-facebook:hover {
  color: #0B564C;
}

.fa-instagram {
  font-size: 2.5em;
  padding: 10rem;
  color: #74BFB6;
}

.fa-instagram:hover {
  color: #0B564C;
}

.fa-envelope-square {
  font-size: 2.5em;
  padding: 10rem;
  color: #74BFB6;
}

.fa-envelope-square:hover {
  color: #0B564C;
}
